<div class="card-group ">
  <div class="card text-dark bg-info mb-3">
    <div class="card-header"><h1>Listar Categorias</h1></div>
    <div class="card-body">
      <br>
      <table class="table  table-striped table-success table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th colspan="2">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let categorias1 of categorias">
          <td>{{categorias1.idCategoria}}</td>
          <td>{{categorias1.nombre}}</td>
          <td>
            <button type="button" class="btn btn-success" routerLink="/categoria/{{categorias1.idCategoria}}">EDITAR
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-warning">ELIMINAR</button>
          </td>
        </tr>

        </tbody>

      </table>
    </div>
  </div>

  <div class="card text-dark bg-info mb-3">
    <div class="card-header"><h1>Crear - Editar</h1></div>
    <div class="card-body">

      <br>

      <form action="">

        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
          <div class="col-sm-6">
            <input type="text" [(ngModel)]="categorias1.nombre" class="form-control nombre" name="nombre" required>


            <button class="btn btn-primary" (click)="create()" *ngIf="!categorias1.idCategoria else elseBlock"
                    role="button">Crear
            </button>

            <ng-template #elseBlock>
              <input [placeholder]=" categorias1.nombre" readonly>

              <br>
              <button class="btn btn-primary" role="button" (click)="regresar()">Regresar</button>
              <button class="btn btn-success" (click)="Editar()" style="margin: 20px" role="button">Editar</button>
            </ng-template>

          </div>
        </div>

      </form>


    </div>
  </div>


</div>
