<div class="p-3">
  <div class="card border-dark text-black bg-light rounded-2 mb-3">
    <div class="p-4 ">


      <form ngNativeValidate>
        <div class="form-group row">
          <mat-form-field appearance="legacy">
            <mat-label for="nombre">Nombre</mat-label>
            <input matInput name="nombre" id="nombre" [(ngModel)]="productos.nombre" placeholder="Nombre" required>
          </mat-form-field>
        </div>

        <div class="form-group row">
          <mat-form-field appearance="legacy">
            <mat-label for="fotourl">Imagen URL</mat-label>
            <input matInput id="fotourl" name="fotourl" [(ngModel)]="productos.fotoUrl" placeholder="Imagen URL"
                   required>
          </mat-form-field>
        </div>

        <div class="form-group row">
          <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="productos.idCategoria" name="categorias">
              <ng-container *ngFor="let  categoria of categorias1">
                <mat-option value="{{categoria.idCategoria}}">{{categoria.nombre}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group row">
          <mat-form-field appearance="fill">
            <mat-label for="descripcion">Descripcion</mat-label>
            <textarea matInput name="descripcion" id="descripcion" [(ngModel)]="productos.descripcion"
                      required></textarea>
          </mat-form-field>
        </div>

        <div class="form-group row">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label for="stock">Stock</mat-label>
            <input matInput id="stock" name="stock" type="number" class="example-right-align"
                   [(ngModel)]="productos.stock" placeholder="0" required>
          </mat-form-field>
        </div>


        <div class="form-group row">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label for="precio">Precio</mat-label>
            <input matInput name="precio" id="precio" type="number" class="example-right-align"
                   [(ngModel)]="productos.precio" placeholder="0" required>
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
        </div>

        <div class="form-group row">
          <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="productos.estado" name="categorias">
              <mat-option value="true">ACTIVO</mat-option>
              <mat-option value="false">INACTIVO</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group row">

          <h1 class="text-center">
            <button class="btn btn-info btn-lg" role="button" (click)="create()"
                    *ngIf="!productos.idProducto else elseBlock">
              CREAR PRODUCTO
            </button>

          </h1>

          <br>

          <ng-template #elseBlock>

            <h1 class="text-center">
              <button class="btn btn-success btn-lg" role="button" (click)="Editar()">EDITAR</button>
            </h1>
            <button class="btn btn-primary btn-lg" role="button" (click)="Regresar()">REGRESAR</button>

          </ng-template>
        </div>

      </form>
    </div>
  </div>

</div>

<!--

      <div class="form-group row">
        <div class="row-cols-sm-3">
          <br>
          <button class="btn btn-info" role="button" (click)="create()"
                  *ngIf="!productos.idProducto else elseBlock">
            Crear
          </button>
          <ng-template #elseBlock>
            <button class="btn btn-success" role="button" (click)="Editar()">Editar</button>
            <br><br>
            <button class="btn btn-primary" role="button" (click)="Regresar()">Regresar</button>
          </ng-template>
        </div>
      </div>

    </form>
-->
