<div class="card bg-light ">
  <div class="card-body ">
    <form ngNativeValidate>
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-3">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="productos.nombre" name="nombre" required>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="fotoUrl" class="col-form-label col-sm-3">Imagen URL</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="productos.fotoUrl" name="fotoUrl" required>
        </div>
      </div>

      <br>
      <div class="form-group row">
        <label for="idCategoria" class="col-form-label col-sm-3">idCategoria</label>
        <div class="col-sm-6">

          <mat-select [(ngModel)]="productos.idCategoria" placeholder="Selecciona una categoriaaa" name="categorias">

            <ng-container *ngFor="let  categoria of categorias1">
              <mat-option value="{{categoria.idCategoria}}"   >{{categoria.nombre}}</mat-option>
            </ng-container>
          </mat-select>

        </div>
      </div>

      <!--*ngIf="categoria.idCategoria === productos.idCategoria"-->

      <br>
      <div class="form-group row">
        <label for="precio" class="col-form-label col-sm-3">Precio</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="productos.precio" name="precio" required>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="stock" class="col-form-label col-sm-3">Stock</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="productos.stock" name="stock" required>
        </div>
      </div>
      <br>

      <div class="form-group row">
        <label for="descripcion" class="col-form-label col-sm-3">Descripcion</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="productos.descripcion" name="descripcion" required>
        </div>
      </div>


      <div class="form-group row">
        <div class="row-cols-sm-3">
          <br>
          <button class="btn btn-info" role="button" (click)="create()" *ngIf="!productos.idProducto else elseBlock">
            Crear
          </button>

          <ng-template #elseBlock>

            <button class="btn btn-success" role="button" (click)="Editar()">Editar</button>

            <br><br>
            <button class="btn btn-primary" role="button" (click)="Regresar()">Regresar</button>
          </ng-template>

        </div>
      </div>
    </form>
  </div>
</div>
