
<div class="card-group">
  <div class="card text-dark bg-info mb-3">
    <div class="card-header"><h1>Listar Productos</h1></div>
    <div class="card-body">


      <table class="table table-light ">
        <thead>
        <tr>
          <th>id</th>
          <th>NOMBRE</th>
          <th>IMAGEN</th>
          <th>PRECIO</th>
          <th>DESCRIPCION</th>
          <th>STOCK</th>
          <th>EDITAR</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let productos2 of productos1">
          <td>{{productos2.idProducto}}</td>
          <td>{{productos2.nombre}}</td>
          <td><img src="{{productos2.fotoUrl}}" width="50px"></td>
          <td>{{productos2.precio}} $</td>
          <td>{{productos2.descripcion}}</td>
          <td>{{productos2.stock}}
          <td>
            <button type="button" name="button" class="btn btn-primary"
                    routerLink="/producto/{{productos2.idProducto}}">EDITAR
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="card text-dark bg-info mb-3">

    <div class="card-header"><h1>Crear-Editar</h1></div>
    <div class="card-body">
      <app-formproductos></app-formproductos>
    </div>
  </div>
</div>

