<div class="p-3">
  <input type="text" class="form-control" name="filterPost" placeholder="Buscador..." [(ngModel)]="filterPost">
  <br>
  <table class="table table-light ">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">IMAGEN</th>
      <th scope="col">EDITAR</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let categoria of categorias | pcategoria:filterPost">
      <th>{{categoria.idCategoria}}</th>
      <td>{{categoria.nombre}}</td>
      <td><img src="{{categoria.fotoUrl}} " width="50px"></td>
      <td>
        <button type="button" class="btn btn-warning" routerLink="/categorias/{{categoria.idCategoria}}">EDITAR</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
