
<div class="row row-cols-1  row-cols-md-2 g-4">
  <div class="col ">
    <div class="card h-100 bg-info">
      <div class="card-body">
        <div>
          <h1 class="card-header text-white text-center">Listar Categorias</h1>
        </div>

        <br>
        <input type="text" class="form-control" name="filterPost" placeholder="Buscador..." [(ngModel)]="filterPost">
        <br>
        <table class="table table-hover table-success ">
          <thead>
          <tr class="align-items-center">
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">IMAGEN</th>
            <th scope="col">EDITAR</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let categoria of categorias1 | pcategoria:filterPost">
            <th>{{categoria.idCategoria}}</th>
            <td>{{categoria.nombre}}</td>
            <td><img src="{{categoria.fotoUrl}} " width="50px"></td>
            <td>
              <button type="button" class="btn btn-warning" routerLink="/categoria/{{categoria.idCategoria}}">EDITAR
              </button>
            </td>

          </tr>
          </tbody>
        </table>



      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100 bg-info">
      <div class="card-body">

        <div>
          <h1 class="card-header bg-gradient text-white text-center">Crear - Editar Categorias</h1>
        </div>

        <app-formcategoria></app-formcategoria>

      </div>
    </div>
  </div>
</div>
