<br>
<form ngNativeValidate>
  <div class="form-group row">
    <label for="nombre" class="col-form-label col-sm-2">Nombre: </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" [(ngModel)]="categorias.nombre" name="nombre" id="nombre" required>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="fotourl" class="col-form-label col-sm-2">IMAGEN URL: </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" [(ngModel)]="categorias.fotoUrl" name="fotourl" id="fotourl" required>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary" *ngIf="!categorias.idCategoria else elseBlock" (click)="Crear()">
        CREAR
      </button>
      <ng-template #elseBlock>

        <button type="button" class="btn btn-warning" (click)="Editar()">EDITAR</button>
        <button type="button" class="btn btn-primary" (click)="Regresar()">REGRESAR</button>
      </ng-template>

    </div>
  </div>

</form>
