
.spacer {
  flex: 0 100 100px;
}

.tamano{
  font-size: 30px;
}

.example-spacer{
    flex: 1 1 auto;
}

.example-spacer2{
    flex: .01  auto;
}


.colores{
  color: rgb(237, 237, 208);
  background-color: rgb(237, 237, 208);
}
