.fon::before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /*selecciono los colores que seran mi fondo de desenfoque*/
  background: linear-gradient(90deg,
  #d5e7eb, #6dace7);
  /*ajusto opacidad del fondo*/
  opacity: 0.7;
  z-index: -1;
}

.spacer {
  flex: 0 100 100px;
}

.tamano{
  font-size: 30px;
}

.example-spacer{
    flex: 1 1 auto;
}

.example-spacer2{
    flex: .01  auto;
}


.colores{
  color: rgb(237, 237, 208);
  background-color: rgb(237, 237, 208);
}
