<div class="fondo">
  <mat-toolbar color="basic">
    <span><a mat-button routerLink="/dashboard">TecniStore</a></span>
    <span class="example-spacer2"></span>

    <a mat-stroked-button color="disabled" routerLink="/producto">Administacion Productos</a>
    <span class="example-spacer2"></span>

    <a mat-stroked-button color="disabled" routerLink="/categoria">Administracion de Categorias</a>
    <span class="example-spacer2"></span>

    <a mat-stroked-button color="disabled" routerLink="/facturas">Administacion Facturas</a>
    <span class="example-spacer2"></span>

    <a mat-stroked-button color="disabled" routerLink="/dashboard">Representacion Grafica</a>
    <span class="example-spacer"></span>

    <a mat-raised-button color="warn" routerLink="/login">Salir</a>
  </mat-toolbar>
  <div class="fon">  </div>
</div>
