<div class="wrapper fadeInDown " style="min-height: 100vh">

  <div id="formContent">
    <!-- Tabs Titles -->
    <h1 class="text-center">Inicio de Sesion</h1>
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/inicioico.png" id="icon" alt="User Icon"/>
    </div>


    <form>
      <input type="text" id="email" name="username" class="fadeIn second" placeholder="Usuario" [(ngModel)]="usuario">
      <input type="password" id="password" name="password" class="fadeIn third" placeholder="Contraseña"
             [(ngModel)]="clave">

      <input type="submit" name="Login" id="go" class="fadeIn fourth" value="INICIAR SESIÓN" (click)="iniciar()">
      <a mat-button color="primary" routerLink="/">Salir</a>
    </form>


    <!-- Login Form
    <form>
      <input type="text" id="email" name="username" class="fadeIn second" placeholder="Usuario" [(ngModel)]="username">
      <input type="password" id="password" name="password" class="fadeIn third" placeholder="Contraseña"
        [(ngModel)]="password">


      <input type="submit" name="Login" id="go" class="fadeIn fourth" value="INICIAR SESIÓN" (click)="doLogin()">
      <a mat-button color="primary" routerLink="/">Salir</a>
    </form>-->
  </div>
</div>
