.fon::before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /*selecciono los colores que seran mi fondo de desenfoque*/
  background: linear-gradient(90deg,
  #d5e7eb, #ff0000);
  /*ajusto opacidad del fondo*/
  opacity: 0.7;
  z-index: -1;
}

h1 {
  color: #000000;
  background: url(../../../assets/dimension.png);
}


.margen {
  padding-top: 60px;
}
